tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 20px
}

@media only screen and (max-width: 1000px) {
    .hiddenTabs {
        display: none;
    }
}
